.container {
  width: 100%;

  p,
  pre {
    font-size: 16px;
    line-height: 1.75;
    color: #fff;
    word-break: break-all;
  }
  a,
  a:visited {
    color: #3ea6ff;
  }
}

.wrapper {
  padding: 16px;
}
