.item {
  display: grid;
  align-content: start;
  gap: 8px;
  text-decoration: none;
  padding-bottom: 8px;

  img {
    display: block;
    width: 100%;
  }

  span {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #fff;
  }
}
